@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
/*font-family: 'Aldrich', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
/*font-family: 'Fira Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/*font-family: 'Audiowide', cursive;*/
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-color: #09080c;
}

hr {
    border-top: 1px;
    color: rgb(158, 31, 31);
}

#navigation {
    font-family: 'Aldrich', sans-serif;
    width: 95%;
    padding-left: 5%;
    display: flex;
}

#logo {
    margin-left: 90%;
    width: 15vw;
}

#logo:hover {
    width: 15.05vw;
}

#nav {
    margin-left: 15%;
    width: 100%;
    font-size: 2vw;
}

#nav ul {
    list-style-type: none;
}

#nav ul li {
    display: inline-flex;
    margin-top: .7%;
    margin-left: 5%;
}

#nav ul li a {
    color: rgb(255, 196, 0);
    text-decoration: none;
}

#nav ul li a:hover {
    font-size: 2.01vw;
    text-decoration: underline;
    color: rgb(255, 136, 0);
}

#districts {
    font-size: 1.5vw;
}

#districts h1 {
    margin-left: 45%;
    font-family: 'Audiowide', cursive;
    color: rgb(255, 60, 0);
}

#districts p {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.8vw;
    color: rgb(255, 123, 0);
    max-width: 100%;
}

#district_1_img {
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
}

#p2 {
    margin-right: 3%;
}

#district_2_img {
    margin-right: 5%;
    width: 10%;
}

#district_3_img {
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
}

#p4 {
    margin-right: 3%;
}

#district_4_img {
    margin-right: 5%;
    width: 10%;
}

#district_5_img {
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
}

#p6 {
    margin-right: 3%;
}

#district_6_img {
    margin-right: 5%;
    width: 10%;
}

#district_7_img {
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
}

#p8 {
    margin-right: 3%;
}

#district_8_img {
    margin-right: 5%;
    width: 10%;
}

#district_9_img {
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
}

#p10 {
    margin-right: 3%;
}

#district_10_img {
    margin-right: 5%;
    width: 10%;
}

#district_11_img {
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
}

#p12 {
    margin-right: 3%;
}

#district_12_img {
    margin-right: 5%;
    width: 10%;
}

#district_13_img {
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
}