@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
/*font-family: 'Aldrich', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
/*font-family: 'Fira Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/*font-family: 'Audiowide', cursive;*/
body {
    overflow: hidden;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: 100%;
    background-color: #09080c;
}

hr {
    border-top: 1px;
    color: rgb(158, 31, 31);
}

#navigation {
    font-family: 'Aldrich', sans-serif;
    width: 95%;
    padding-left: 5%;
    display: flex;
}

#logo {
    margin-left: 90%;
    width: 15vw;
}

#logo:hover {
    width: 15.05vw;
}

#nav {
    margin-left: 15%;
    width: 100%;
    font-size: 2vw;
}

#nav ul {
    list-style-type: none;
}

#nav ul li {
    display: inline-flex;
    margin-top: .7%;
    margin-left: 5%;
}

#nav ul li a {
    color: rgb(255, 196, 0);
    text-decoration: none;
}

#nav ul li a:hover {
    font-size: 2.01vw;
    text-decoration: underline;
    color: rgb(255, 136, 0);
}

#the_hunger_games {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
}

#the_hunger_games h1 {
    align-self: center;
    font-family: 'Audiowide', cursive;
    color: rgb(255, 60, 0);
}

#the_hunger_games p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.8vw;
    color: rgb(255, 123, 0);
    max-width: 40%;
}

#p1 {
    position: relative;
    left: 9vw;
}

#p2 {
    position: relative;
    top: -16.5vw;
    left: 55vw;
}

#home_img {
    position: relative;
    top: -18vw;
    left: 41vw;
    width: 20vw;
}